:root{
    --coffee-dark: #3e2723;
    --coffee-medium: #6f4e37;
    --coffee-light: #C4A484;
    --coffee-accent:#D2b48C;
    --coffee-cream :#F5f5dc;
    --coffee-gold:#D4af37;
    --text-dark:#2C2416;
    --text-light:#f3f3f3;
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
font-family: "Montserrat" , sans-serif;
background: var(--coffee-cream);
color: var(--text-dark);
line-height: 1.7;
overflow-x: hidden;
}

.container{
    width : 90%;
    max-width: 1200 px;
    margin: 0 auto;
}

/* header & nav */
header{
    background: #e2e2e1;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    /* transition: all 0.5s ease; */
}

.header-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;

}

.logo-icon{
    color: var(--coffee-gold);
    font-size: 28px;

}

.logo-text{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: bold;
    color:var(--coffee-dark);
    letter-spacing: 1px;
}
.logo-text span{
    color: var(--coffee-gold);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: var(--coffee-medium);
    font-weight: 500;
    font-size: 20px;
    position:relative;
    padding: 5px 0;

}

nav a:after{
 content : "";
 position: absolute;
 bottom : 0;
 left:0;
 width : 0;
 height: 2px;
 background: var(--coffee-gold);
 transition: width 0.3s ease;

}

nav a:hover:after{
    width: 100%;
}
.nav-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: var(--coffee-medium);
    color: var(--text-light);
}
.btn-primary:hover{
    background-color: var(--coffee-dark);
    transform: translateY(-3px);
}

.btn-secondary {
    background-color: transparent;
    color: var(--coffee-medium);
    border: 2px solid var(--coffee-medium);
}
.btn-secondary:hover {
    background-color: rgba(39, 9, 9, 0.358);
    color: var(--text-light);
    transform: translateY(-3px);
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 100px; ;
}

.hero::before {
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(135deg, #0B0705 0% , #010000 50%);
    z-index: -1;
}

.hero-content{
    width: 750px;
    color: var(--text-light);
    animation: fadeInUp 1s ease-out;

}

.hero .container {
    display: flex;
}

.hero-subtitle {
    font-size: 20px;
    color: var(--coffee-accent);
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-subtitle
{
content: "";
height : 2px;
color:var(--coffee-gold)
}

.hero-title{
    font-size : 50px;
     line-height: 1.1;
     margin-bottom : 25px;
     letter-spacing : 0.5px;
     color: var(--text-light)
}

.hero-title span{
    color: var(--coffee-gold);
    position: relative;

}

.hero-text{
    font-size: 10px;
    margin-bottom:120px;
    max-width: 700px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 60px;
}

.main-img{
    margin-left: 60px;
}
